* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: 100%;
  list-style: none;
}

a {
  color: #67bbe4;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #111119 url("./images/bg.jpg") 50% 50%;
  background-size: cover;
  color: #f4f4f4;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.container {
  display: table;
  margin: 0 auto;
  height: 100%;
  width: 700px;
}

.container > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 60px;
  text-align: center;
}

.main {
  display: inline-block;
  text-align: left;
}

.logo {
  margin-left: 2px;
  overflow: hidden;
  text-indent: -999px;
}

.logo-24 {
  background: url("./images/logo-24.png");
  width: 146px;
  height: 17px;
}

.logo-21 {
  background: url("./images/logo-21.png");
  width: 122px;
  height: 15px;
}

h2 {
  font-size: 44px;
  font-weight: 300;
  padding: 40px 0 28px;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 18px;
}

ul {
  padding-bottom: 28px;
}

li {
  list-style: inside disc;
  line-height: 1.4;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}

footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

footer a {
  font-size: 11px;
  color: #445;
  text-decoration: none;
}
